* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
}
.main {
  display: flex;
}
.heading {
  font-size: 3.75em;
}
.subheading {
  margin: 5px 0 10px 0;
  font-size: 1.25em;
  color: #8a8a8a;
}
.separator {
  height: 5px;
  width: 175px;
  border-radius: 10px;
  background: #E49B00;
}
.left {
  min-width: 65%;
  min-height: 100vh;
  background-image: url("../img/c.jpg");
  background-size: cover;
  background-position: center;
}
.right {
  height: 100vh;
  display: grid;
  align-content: center;
  padding: 10px 5%;
}
#task-frontend .basic-title {
  color: red;
}
#task-frontend .form-line {
  border: 1px solid blue;
}

.textLabel {
  text-transform: capitalize;
  margin: 12px 0 5px 0;
  display: block;
}
.sectionSelect {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 5px;
  width: max-content;
}
#task-frontend input[type="text"], #task-frontend input[type="email"] {
  display: block;
  border: 1px solid #c1c1c1;
  background: #efefef;
  border-radius: 5px;
  width: 250px;
  height: 30px;
  padding: 2px 5px;
}

#task-frontend span {
  display: block;
}

#task-frontend input[type="checkbox"] {
  accent-color: orange;
}

.submitButton {
  margin-top: 20px;
  color: white;
  font-weight: bold;
  font-size: 17px;
  background: #2E3D98;
  border-radius: 16px;
  padding: 10px 25px;
}
