* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
}

#task-frontend .basic-title {
  color: red;
}
#task-frontend .form-line {
  border: 1px solid blue;
}

.textLabel {
  text-transform: capitalize;
  margin: 12px 0 5px 0;
  display: block;
}
.sectionSelect {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 5px;
  width: max-content;
}
#task-frontend input[type="text"], #task-frontend input[type="email"] {
  display: block;
  border: 1px solid black;
  border-radius: 5px;
  width: 250px;
  height: 30px;
}

#task-frontend span {
  display: block;
}

#task-frontend input[type="checkbox"] {
  accent-color: orange;
}

#task-frontend input[type="submit"] {
	color: green;
	margin-top: 10px;
	width: 100px;
	height: 30px;
}
